@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--
    create cards with redirects to pages for the following:
    - Merchants
    - Discounts
    - POS Terminals
    -->
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white border-dark bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">Merchants</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-primary">Go to Merchants</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white border-dark bg-primary">
                <div class="card-body">
                    <h5 class="card-title">Discounts</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-controller="Discount" asp-action="Index" class="btn btn-primary">Go to Discounts</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-dark bg-warning">
                <div class="card-body">
                    <h5 class="card-title">POS Terminals</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-primary">Go to Terminals</a>
                </div>
            </div>
        </div>
    </div>
</div>